---
import AboutMe from '@/components/AboutMe.astro';
import Card from '@/components/Card.astro';
import Hero from '@/components/Hero.astro';
import SectionContainer from '@/components/SectionContainer.astro';
import Timeline from '@/components/Timeline.astro';
 
import { projects } from '@/constants/projects';
import Layout from '@/layouts/Layout.astro';

import { experiences } from "@/constants/experience";
import { about } from "@/constants/about";


const title = "Facundo Colavini - Frontend Web Developer with 4+ Years of Experience"
const description = "Explore the portfolio of Facundo Colavini, a skilled Frontend Web Developer specializing in creating responsive and user-centered web applications. With expertise in HTML, CSS, JavaScript, and modern frameworks, I deliver high-performance websites that exceed client expectations."
---

<Layout title={title} description={description}>
	<SectionContainer id="experience" class=" pt-16 md:pt-36 relative">
	<div 
		class="w-full shrink-0 absolute  top-52 md:top-80  -z-50 rotate-[-7deg] py-[20px] blur-[150px] rounded-full h-[150px] lg:h-[150px] xl:h-[200px] 
			   bg-[radial-gradient(circle,rgba(73,33,93,1)_0%,rgba(48,13,73,1)_49%,rgba(27,8,53,1)_100%)]">
	</div>
	<Hero/>
    <Timeline list={experiences}/>	 
	</SectionContainer>
	<SectionContainer id="projects" class="mt-2   relative">
		{projects.map((project) => (
			<Card project={project}  />
		))}
	</SectionContainer>
	<SectionContainer id="about" class=" pb-36  relative">
			<Timeline list={about} class='md:px-0 sm-px-4'/>
			<AboutMe/>
	</SectionContainer>

</Layout>
