---
import { Icon } from 'astro-icon/components';

interface Props {
    icon: string;
    title: string;
    company: string;
    period: string;
    isFragmentPeriod?: boolean;
    description: string;
    color: string;
    bullGradient:string;
    gradient:string;
}

const { icon, title, company, period, description, color,bullGradient,gradient,isFragmentPeriod } = Astro.props;
---

<div class="relative grid">
    <div class="relative my-5 flex items-center justify-start">
        <div class="relative flex items-center">
            <div class={`absolute left-1/2 transform -translate-x-1/2 w-5 h-5 rounded-full  blur-[8px] ${bullGradient} z-0`}></div>
            <Icon name={icon} class={`${color} relative `} size={30} />
        </div>
        <div class="flex w-full justify-start gap-8 ml-4">
            {typeof title === 'string' 
                &&  <Fragment set:html={title} />
            }
        </div>
    </div>
    <div
        class={`relative mx-12 pb-12 grid before:absolute before:left-[-35px] before:block before:h-full before:w-1 ${gradient} md:grid-cols-5 md:gap-10 md:space-x-4`}
    >
        <div class="col-span-4 mb-10 md:mb-3">
            <p class="text-xl font-semibold">{company}</p>
            {(typeof period === 'string' && isFragmentPeriod) 
            ?  <Fragment set:html={period} />
            : (<p class="text-gray-400 text-lg mb-6">{period}</p>)}
        </div>
        <div class="md:col-start-3 col-span-4 md:flex">
            <p class="text-lg leading-relaxed">{description}</p>
        </div>
    </div>
</div>
